*[data-def]{
	margin-right: 0;
	color: black;
	position: relative;
	
	dl{ display: none; }

	@media (max-width: 766px){
		dl{ display: none !important; }
	}

	@media (min-width: 767px){

		padding-right: 21px;
		position: relative;
		display:inline-block;
	
		&:hover:before,
		&:active:before{
			content:' ';
			background-color: rgba(0,0,0,0.0001);
			width: 120%;
			height: 100px;
			position: absolute;
			right: 0;
			top: 0;
			display: block;
		}
		dl{
			display: none; 
			z-index: 99;
			position: absolute;
			left: -250px - 8px;
			top: -50px;
			width: 250px;
			border-left: 5px solid $yellow;
			
			img{
				float: left;
				margin-right: 10px;
			}

			.details{
				display: block;
				margin: 15px 0;
				float:right;
			}
		}
		&:after{
			content: ' ';
			width: 16px;
			height: 16px;
			display:inline-block;
			margin: 0 2px 0 3px;
			position:absolute;
			right: 0;
			top: 4px;
			
			background-color: $lightGrey;
			background-image: url(getThemeAssetsPath('img/lsp-master-sprite-old.png'));
			background-position: -6px -410px;
			
			border-radius: 4px;

		}
		&:hover:after,
		&:active:after{
			background-color: $yellow;
		}
		&:hover,
		&:active{
			dl{
				display:block;
			}
		}
	}
}

dd {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

.h3 {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 18px;
	margin-bottom: 2px;
}

.panel, a .panel {
    background-color: white;
    box-shadow: 0 0 3px 0 #cfcfcf;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    padding: 8px 10px 0;
    margin-bottom: 17px;
    color: #211710;
}